<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16230407684-uob8v509qtum9cr9j4uhvtumhgaag7sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16230407684-uob8v509qtum9cr9j4uhvtumhgaag7sm</string>
	<key>API_KEY</key>
	<string>AIzaSyDBNkpgKxK-JwQWQpdpgahGulAL3wdK5Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>16230407684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tansangle.weatherAppFlutterMonstarlab</string>
	<key>PROJECT_ID</key>
	<string>weather-app-flutter-monstarlab</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-flutter-monstarlab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16230407684:ios:27e57382d467238369df51</string>
</dict>
</plist>